body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/UserProfileBackground.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.profile-container {
    text-align: left;
    color: white;
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-title {
    display: flex;
    flex-direction: column;
}

.profile-title h1 {
    font-size: 2.5em;
    margin: 0;
}

.profile-title h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
    color: white;
}

.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.profile-form {
    flex: 1;
}

.profile-form form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.profile-form input {
    width: 140%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    background-color: #194d66;
    color: white;
    font-size: 1em;
}

.confirm-button {
    margin: 20px 0;
    padding: 12px 20px;
    width: 150px; /* Set a fixed width */
    border: none;
    border-radius: 8px;
    background: #fff;
    font-size: 1em;
    color: #004d7a;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.confirm-button:hover {
    background: #004d7a;
    color: #fff;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
}

.profile-picture img {
    width: 285px;
    height: 285px;
    border-radius: 50%;
    border: 5px solid #0e5b7b;
}

.edit-picture-button {
    margin-top: 20px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
}