

body {
    background: url('../img/appointmentbg.png') no-repeat center center fixed; 
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    /*  justify-content: center; 
  min-height: 100vh;    */
   
    /*bg color*/
}





/* Book Appointment */
#appointment {
    width: 480px;
    height: 500px;
   background-color: transparent;
    margin-left: 80px;
    /*#093d53;*/
}

h1{
    font-size: 25px;
    color: white;
    margin-top: -10px;
}
h2{
    font-size: 22px;
    color: white;
    margin-top: -10px;
}
#form {
    margin-top: 0px;


}

.text {
    color: white;
    margin-left: 40px;
    font-size: 17px;
   
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="submit"] 
{
    width: 450px;
    height: 33px;
    font-size: 15px;
     border: 2px solid #093d53;
    border-radius: 10px;
    margin: 2px;
    margin-left: 35px;
    background: rgba(255, 255, 255, 0.1);
color: #d0d5d7;;
 padding-left: 10px;
    
}

#timeform{
  
    width: 470px;
    height: 33px;
    margin-left: 35px;
    margin-bottom:35px ;
  
    
    
}
.timegroup {
    display: flex;
    gap: 1px;
}

.timegroup input,
.timegroup select {
    flex: 1;
}


.time{
    width: 150px;
    height: 33px;
    font-size: 15px;
     border: 2px solid #093d53;
    border-radius: 10px;
    margin: 2px;
    
    background: rgba(255, 255, 255, 0.1);
color: #d0d5d7;
 padding-left: 10px;

}

.timeAmPm{
    width: 150px;
    height: 38px;
    font-size: 15px;
     border: 2px solid #093d53;
    border-radius: 10px;
    margin: 2px;
    
    background: rgba(255, 255, 255, 0.1);
 
color: #d0d5d7;
 padding-left: 10px;

}

.ampm{
    background-color: #093d53;   
    color: white;
}



::placeholder{
   
    
  color: #d0d5d7;

}


#services {
    width: 466px;
    height: 35px;
    font-size: 15px;
    border: 2px solid #093d53;
    border-radius: 10px;
    margin: 2px;
    margin-left: 32px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: #d0d5d7;
    padding-left: 8px;
    

}


.options{
    background-color: #093d53;
    color: white;
    font-size: large;
 

}
.service-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 5px;
}
.servicesoption{
    text-align: center;
    background-color: #ffc107;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.services{
    background-color: #093d53;
    color: white;
    font-size: 15px;
}

.services:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.booked-btn {
    
    padding: 10px 20px;
    
    background-color: #ccc; 
    color: #093d53; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    margin-left: 110px;

}


.booked-btn:hover {

    background-color: #084863;
    color: white;
    transform: translateY(-.25em);
    
    
}

/*RATINGS*/

#ratings {
    width: 500px;
    height: 500px;
    margin-top: 45px;
    margin-left: 110px;
    background-color:transparent;
}


/*
.ratep {
    color: #ffffff;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
*/

.profile-pic {
    width: 210px;
    height: 210px;
    align-content: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 110px;
    margin-left: 110px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 0px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.employee {
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-left: -70px;
   
}

.expertise {
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: normal;
    margin-left: -70px;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-left: -70px;
    margin-bottom: 20px;

}

.star {
    color: #ffc107;
    font-size: 40px;
    margin: 0 5px;
    align-items: center;
}

/*
#extra{
    width: 1030px;
    height: 430px;
    background-color: green;
    display: block;
   
}
IF MAGDADAGDAG NG flex-wrap:wrap; SA MAIN*/

/*REVIEWS*/


.showreview{
    margin-left: 20px;
    font-size: 25px
}
.reviews   {
    width: 500px;
    height: 400px;

    
}



p {
    color:#ffffff;
    text-align: auto;
    font-size: medium;
    margin: 2px;
}

.container1 {
    
    /* background-color: #d9d9d941; */
    padding: 100px;
    border-radius: 10px;
   
    display: block;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    
  }

  .review-card1 {
    background-color: #ffffff6f;
    padding: 20px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .review-card2 {
    background-color: #ffffff6f;
    padding: 20px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .review-card3 {
    background-color: #ffffff6f;
    padding: 20px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .review-card4 {
    background-color: #ffffff6f;
    padding: 20px;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    overflow: hidden;
    border: 0px solid #ffffff;
    align-content: first baseline;
    float: left;
  }
  .user-profile img { 
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  
  .star-rating{
      color: #ffc107;
      font-size: 25px;
      margin: 0 5px;
      align-items: center;
      margin-left: 75px;
  }


/*MENU*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    transition: background 0.3s, box-shadow 0.3s;
}

header.scrolled {
    background: transparent;
}

.logo img {
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-button {
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
    margin-right: 20px;
}

.menu {
    display: none;
    position: fixed;
    text-align: right;
    top: 70px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    backdrop-filter: blur(10px);
}

.menu.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

/*footer*/


    

