
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f8f7; /* Light Grayish Cyan */
    color: white;
}

#services-container{
    background-color: #093d53;
    width: 90%;
    height: 500px;
    margin: auto;
    border: 5px solid #0b2534;
    display: flex;

}
#services-container div{
     width: 400px;
     height: 200px;
}
h1{
   text-align: center;
}
.price{
    margin-left: 180px;
  
}

p{
    display: inline-block;  
    margin: 0px;
    margin-left: 5px;
    
}

/*

.services{
    background-color: #093d53;
    width: 200px;
    height: 300px;
    margin:100px;
 

}
.service-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.service {
    flex: 1;
}
.price {
    flex: 1;
    text-align: right;
}

.services h1{
    color: blue;
    text-align: center;
} 

*/

/*MENU*/

#home-container {
    position: top;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0b2534; /* Dark Blue */
    color: #fff; /* White */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #0b2534; /* Dark Blue */
    border-radius: 5px;
    padding: 10px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sub-menu button {
    display: block;
    width: 100%;
    background-color: transparent;
    color: #fff; /* White */
    border: none;
    border-bottom: 1px solid #fff; /* White */
    padding: 8px 0;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub-menu button:last-child {
    border-bottom: none;
}

.sub-menu button:hover {
    background-color: #093d53; /* Dark Cyan */
}

